/** @format */
body {
	background-color: bisque;
}
h1 {
	background-color: gray;
	color: white;
	text-align: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
}

#topBtn button {
	width: 70px;
	height: 50px;
	font-size: 30px;
}

#startBtn,
#stopBtn {
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 5px solid white;
	outline: 5px solid gray;
	cursor: pointer;
}

#startBtn {
	background-image: radial-gradient(green, rgb(0, 255, 0));
}
#startBtn:hover {
	background-image: radial-gradient(rgb(0, 167, 0), green);
}
#stopBtn {
	background-image: radial-gradient(rgb(138, 0, 0), red);
	display: none;
}
#stopBtn:hover {
	background-image: radial-gradient(red, rgb(138, 0, 0));
}
#leap button {
	width: 40px;
	height: 20px;
}
