/** @format */
h1 {
	background-color: gray;
	color: white;
	text-align: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
}

#topBtn button {
	width: 70px;
	height: 50px;
	font-size: 30px;
}
#btmBtn button {
	width: 100px;
	height: 50px;
	font-size: 30px;
}
#start {
	background-color: green;
	color: white;
}
#stop {
	background-color: red;
	color: white;
}
